# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
build/


# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
build.gradle
complete.iml
gradlew
gradlew.bat
pom.xml
target/
